[submodule "playbooks/roles/dwimsey.devenv"]
	path = playbooks/roles/dwimsey.devenv
	url = https://github.com/dwimsey/devenv.git
[submodule "playbooks/roles/dwimsey.devworkstation"]
	path = playbooks/roles/dwimsey.devworkstation
	url = https://github.com/dwimsey/devworkstation.git
[submodule "playbooks/roles/dwimsey.intellij"]
	path = playbooks/roles/dwimsey.intellij
	url = https://github.com/dwimsey/ansible-role-intellij.git
